body {
  font-family: Arial, Helvetica, sans-serif;
}

.para,
.small-para {
  color: hsl(0, 0%, 0%);
  font-weight: 800;
}

.para {
  font-size: 22px;
}

.small-para {
  font-size: 14px;
  font-weight: 800;
}

/* original place of class .para */

/* .confirm { */
#confirm-button {
  background: green;
  color: white;
  font-weight: bold;
} 

/* .button { */
#cancel-button,
.confirm,
.cancel,
.button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

/* original place of class .child */

/* div.text { */
.text {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 100;
}

.child {
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 14px;
}
